.cont__fondo {
  display: flex;
  background-color: #c83b00;
}

.cont__fondo-consult {
  width: 45%;
  height: 100vh;
  border-radius: 0px 40px 40px 0px;
  background-color: white;
}

.cont__fondo-register {
  width: 45%;
  height: 100vh;
  border-radius: 0px 40px 40px 0px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cont__fondo-contact {
  width: 50%;
}

.cont__fondo-portada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;

  app-navbar {
    position: absolute;
    top: 12px;
    right: 0;
  }

  img {
    width: 80%;
    height: 65%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  img.fondo {
    width: 100%;
    position: absolute;
    height: auto;
    top: 0px;
    left: 0px;
    z-index: -200;
    background-position: top top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 32px;
  }

  // div.white {
  //     width: 70%;
  //     background-color: white;
  //     position: absolute;
  //     height: 100%;
  //     top: 0px;
  //     left: 0px;
  //     border-top-right-radius: 50%;
  //     border-bottom-right-radius: 50%;
  //     z-index: -100;
  // }
}

.icono {
  position: absolute;
  bottom: 20px;
  right: 30px;
  img {
    width: 60px;
    height: 55px;
    background-size: cover;
    animation: parpader 2s ease-in infinite;
  }
}

@keyframes parpader {
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}

// @media (min-width: 768px) {
//   .cont__consulta {
//     width: 40%;
//   }

//   .cont__fondo-portada {
//     width: 60%;
//     img {
//       display: block;
//     }
//   }
// }
