<section class="cont__fondo">
    <section class="cont__fondo-consult" *ngIf="eventoTabs == 'CONSUL'">
        <app-consult></app-consult>
    </section>
    <section class="cont__fondo-register" *ngIf="eventoTabs == 'REGIST'">
        <app-register-pqr (setp)="recibirEvento($event)"></app-register-pqr>
    </section>
    <section class="cont__fondo-portada"
        [ngStyle]="{width : eventoTabs == 'CONSUL' ? '55%' : eventoTabs == 'REGIST' ? '55%' : '55%'}">

        <app-navbar (navbar)="actions($event)"></app-navbar>


        <img src="../../assets/img/fondo/Frame 15.png" alt="">

        <span>Business and Transport Travel Management Company</span>
    </section>
</section>