<section class="cont__consulta">
    <h2 class="cont__consulta-h2">¡Bienvenido al módulo de registro y consulta de PQR!</h2>
    <p class="cont__consulta-p">
        ¡Tu opinión cuenta! Valoramos tus solicitudes, quejas, reclamos y sugerencias. Nos esforzamos en mejorar la experiencia del transporte. ¡Gracias por tu confianza en nuestro compromiso!
    </p>
    <div class="cont__consulta-button">
        <div class="form__input">
            <label for="">Ingresar N° de la PQR</label>
            <input [type]="!viewPassword ? 'text' : 'password'" [(ngModel)]="pqr" (keypress)="onlyNumberKey($event)" placeholder="Ingrese N° de la PQR">
            <div class="icon" style="cursor: pointer;" (click)="viewPassword = !viewPassword">
                <img src="../../../../assets/icons/password.svg" alt="">
            </div>
        </div>

        <button class="cont__button-button" (click)="openModal()">Consultar</button>

        <footer>
            <img class="img__logo" src="../../../../assets/img/fondo/logo.png" alt="">
            <!-- <img class="img__footer" src="../../../../assets/img/fondo/logo-footer.png" alt=""> -->
        </footer>
    </div>
    
</section>

<app-modal-a
  *ngIf="showModal"
  [title]="'Título del Modal'"
  [PQR]="pqr"
  [show]="showModal"
  (close)="closeModal()"
></app-modal-a>



