<section class="cont__consulta">
    <h2 class="cont__consulta-h2">¡Bienvenido al Módulo de Consulta de PQR!</h2>
    <p class="cont__consulta-p">
        Estamos emocionados de presentarte nuestra herramienta avanzada de consulta, diseñada para hacer que tu
        experiencia de búsqueda sea más inteligente y eficiente que nunca.
    </p>
    <div class="cont__consulta-button">
        <input class="cont__button-input" type="number" [(ngModel)]="pqr" placeholder="Ingrese número de PQR">
        <button class="cont__button-button" (click)="generacionDeProyecto()">Consultar</button>
    </div>
</section>