nav {
  width: 100%;
  height: auto;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    gap: 32px;
    li {
      display: flex;
      align-items: center;
      gap: 6px;

      picture {
        display: flex;
      }

      button {
        background-color: transparent;
        border: none;
        outline: none;
        color: #232323;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }
}

nav {
  ul {
    li.tag-active {
      padding: 0 8px;
      height: 32px;
      flex-shrink: 0;
      border-radius: 8px;
      background: var(--Principal-Color, #db4403);
      box-shadow: 0px 7px 14.4px 0px #ffcbb5;

      button {
        color: #fff;
        font-weight: 600;
      }

      picture {
        img {
          filter: invert(1) sepia(1) hue-rotate(180deg) brightness(3);
        }
      }
    }
  }
}

form {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 12px;

  span {
    color: red;
    font-size: 16px;
    font-weight: 700;
  }
}

.input-field {
  color: var(--Color-4, #bdbdbd) !important;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  border-radius: 16px;
  background: #f9fafb !important;
  min-width: 113px;
  width: 100%;
  height: 46px;
  flex-shrink: 0;
  outline: none;
  border: none;
  padding: 0px 10px;

  &::placeholder {
    color: var(--Color-4, #bdbdbd) !important;
  }
}

input:focus {
  border-color: #ff6010;
  box-shadow: 0 0 0 2px rgba(255, 96, 16, 0.2);
  border-right-width: 1px;
  outline: 0;
}

.info__evidencia {
  display: flex;
  flex-direction: column;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

  &:focus {
    outline: none;
  }
}

button {
  margin-right: 8px;
}

textarea {
  border: 1px solid #aebbce;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #798ca5;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

textarea:focus {
  border-color: #ff6010;
  box-shadow: 0 0 0 2px rgba(255, 96, 16, 0.2);
  border-right-width: 1px;
  outline: 0;
}

.contenedor__evidencia {
  width: 100%;
  height: 220px;
  border-radius: 16px;
  background-color: #f9fafb;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  b {
    color: #bdbdbd;
    text-align: center;
  }
}

.card__success {
  width: 100%;
  height: 140px;
}

.notifications-container {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240 253 244);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

// -----------------

.notifications-container {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.alert {
  background-color: rgb(254 252 232);
  border-left-width: 4px;
  border-color: rgb(250 204 21);
  border-radius: 0.375rem;
  padding: 1rem;
}

.alert-svg {
  height: 1.25rem;
  width: 1.25rem;
  color: rgb(250 204 21);
}

.alert-prompt-wrap {
  margin-left: 0.75rem;
  color: rgb(202 138 4);
}

.alert-prompt-link {
  font-weight: 500;
  color: rgb(141, 56, 0);
  text-decoration: underline;
}

.alert-prompt-link:hover {
  color: rgb(202 138 4);
}

// Modal
.modal {
  position: absolute;
  width: calc(100% - 100px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 300;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;

  img {
    width: 230px;
  }

  .cont__button-button {
    cursor: pointer;
    margin-top: 12px;
    background-color: #db4403;
    color: white;
    width: 70%;
    height: 46px;
    border-radius: 16px;
    border: none;
    outline: none;
    box-shadow: 0px 8px 12px 0px #fd74014d;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }
}

// RESPONSIVE
@media (max-width: 768px) {
  nav {
    ul {
      justify-content: start;
    }
  }
}