<nav>
    <ul>
        <li *ngFor="let item of tag" (click)="tagSeleccionadoMet(item); selectActive = false"
            [ngClass]="tagActivo == item.id ? 'tag-active' : ''">
            <button type="button">{{ item.nombreTag }}</button>
        </li>
    </ul>
</nav>

<form nz-form [formGroup]="formCotizaciones" style="width: 100%;">
    <ng-container *ngIf="tagActivo == 0">
        <!-- formulario de registro -->
        <div nz-row [nzGutter]="24" nzJustify="start">

            <!-- SECTION 1 -->
            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Fecha de incidencia</label>
                <nz-date-picker formControlName="fechaSolicitud"></nz-date-picker>
            </div>

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Número de documento </label>
                <input nz-input class="input-field" formControlName="identificacion"
                    placeholder="Ingrese un número de documento" type="number"
                    (keypress)="($event.charCode === 8 || $event.charCode === 0 || $event.charCode === 13) ? null : $event.charCode >= 48 && $event.charCode <= 57" />
            </div>

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Primer nombre</label>
                <input nz-input class="input-field" formControlName="primerNombre"
                    placeholder="Ingrese un primer nombre" />
            </div>

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Primer apellido </label>
                <input nz-input class="input-field" formControlName="primerApellido"
                    placeholder="Ingrese un primer apellido" />
            </div>

            <!-- SECTION 2 -->
            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Email </label>
                <input nz-input class="input-field" formControlName="correo" type="email"
                    placeholder="Ingrese un correo eléctronico" />
            </div>

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Medio de notificación </label>
                <nz-select formControlName="fkMedioNotificacion" nzPlaceHolder="Seleccione un medio notificación">
                    <nz-option [nzValue]="undefined" nzLabel="Seleccione un medio notificación"></nz-option>
                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre"
                        *ngFor="let item of medioNotificacion"></nz-option>
                </nz-select>
            </div>
            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Cliente</label>
                <nz-select nzShowSearch="true" formControlName="fkCliente" nzPlaceHolder="Seleccione un cliente"
                    (ngModelChange)="changeClient()" (nzOnSearch)="searchClient($event)">
                    <nz-option [nzDisabled]="true" [nzValue]="undefined" nzLabel="Seleccione un cliente"></nz-option>
                    <nz-option [nzValue]="item.id" [nzLabel]="item.razonsocial"
                        *ngFor="let item of listCentrosCostos"></nz-option>
                </nz-select>
            </div>

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Tipo solicitud</label>
                <nz-select nzShowSearch nzAllowClear formControlName="fkTipoSolicitud"
                    nzPlaceHolder="Seleccione un tipo de solicitud">
                    <nz-option [nzDisabled]="true" [nzValue]="undefined" nzLabel="Seleccione un tipo"></nz-option>
                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre"
                        *ngFor="let item of tipoSolicitud"></nz-option>
                </nz-select>
            </div>

            <!-- <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Prioridad </label>
                <nz-select nzShowSearch nzAllowClear formControlName="fkCriticidad"
                    nzPlaceHolder="Seleccione una prioridad">
                    <nz-option [nzDisabled]="true" [nzValue]="undefined" nzLabel="Seleccione una prioridad"></nz-option>
                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre" *ngFor="let item of criticidad"></nz-option>
                </nz-select>
            </div> -->

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Causa</label>
                <nz-select nzShowSearch nzAllowClear formControlName="fkCausa" nzPlaceHolder="Seleccione una causa">
                    <nz-option [nzDisabled]="true" [nzValue]="undefined" nzLabel="Seleccione una causa"></nz-option>
                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre" *ngFor="let item of causa"></nz-option>
                </nz-select>
            </div>

            <div nz-col [nzSpan]="24" [nzSm]="8">
                <label>Tipo de servicio </label>
                <nz-select nzShowSearch nzAllowClear formControlName="fkTipoServicio"
                    nzPlaceHolder="Seleccione un tipo de servicio">
                    <nz-option [nzDisabled]="true" [nzValue]="undefined" nzLabel="Seleccione una tipo"></nz-option>
                    <nz-option [nzValue]="item.id" [nzLabel]="item.nombre"
                        *ngFor="let item of tipoServicio"></nz-option>
                </nz-select>
            </div>
            <!-- SECTION 2 -->
        </div>

        <footer>
            <button class="cont__button-button" (click)="next()">Siguiente</button>
            <img src="../../../../assets/img/fondo/Group 1000004173.png" alt="">
        </footer>

    </ng-container>
    <ng-container *ngIf="tagActivo == 1">
        <div style="width: 100%;">
            <label for="descripcion">Descripción </label>
            <textarea placeholder="Ingrese una descripcion" rows="13" formControlName="observacion"></textarea>
        </div>

        <footer>
            <button class="cont__button-button" (click)="next()">Siguiente</button>
            <img src="../../../../assets/img/fondo/Group 1000004173.png" alt="">
        </footer>
    </ng-container>
    <ng-container *ngIf="tagActivo == 2">
        <label>Subir evidencia</label>

        <div class="contenedor__evidencia">
            <img draggable="false" src="../../../../assets/icons/mdi_image-add-outline.svg" height="50%" class="mx-2">
            <b>{{ currentFileSize ? (currentFileName + " "+ currentFileSize) : 'Presiona aquí para subir o arrastra y suelta un JPG,PNG y JPEG' }}</b>
            <input class="file-input" id="fileInput" type="file" (change)="onFileSelected($event)">
        </div>

        <footer>
            <button class="cont__button-button" (click)="done()">Registrar PQR</button>
            <img src="../../../../assets/img/fondo/Group 1000004173.png" alt="">
        </footer>
    </ng-container>
    <ng-container *ngIf="tagActivo == 3">
        <ng-container *ngIf="estadoPQR; else bloqueCard">
            <div class="card__success">
                <div class="notifications-container">
                    <div class="success">
                        <div class="flex">
                            <div class="flex-shrink-0">

                                <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="success-prompt-wrap">
                                <p class="success-prompt-heading">Proceso realizado con éxito
                                </p>
                                <div class="success-prompt-prompt">
                                    <p>Hemos recibido tu solicitud de PQR. Queremos informarte que tu
                                        solicitud ha sido registrada y será procesada con la máxima prioridad.
                                        Agradecemos tu confianza y paciencia durante este proceso.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #bloqueCard>
            <div class="card__success">
                <div class="notifications-container">
                    <div class="alert">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 alert-svg">
                                    <path clip-rule="evenodd"
                                        d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                        fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="alert-prompt-wrap">
                                <p>Lamentamos informarte que no hemos podido registrar PQR. Nuestro equipo de
                                    soporte
                                    revisará la situación y se pondrá
                                    en contacto contigo para obtener más detalles y asistencia. Agradecemos tu
                                    comprensión y estamos comprometidos a resolver este inconveniente lo antes
                                    posible.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <footer>
            <button class="cont__button-button" (click)="nuevaPQR()">Registrar una nueva PQR</button>
            <img src="../../../../assets/img/fondo/Group 1000004173.png" alt="">
        </footer>
    </ng-container>
</form>

<div class="modal" [ngStyle]="{'display': (modals ? '' : 'none')}">
    <app-modal (estadoModal)="recibirEstadoModal($event)" [estadoModalView]="modals"
        [message]="'Faltan campos del formulario por llenar, debe llenar todos los que tenga el *'"
        [estado]="'Información'"></app-modal>
</div>